# Term Frequency and Inverse Document Frequency (TF-IDF)

In [1]:
doc1 = '''지능 지수 라는 말 들 어 보 셨 을 겁니다 . 여러분 의 지성 을 일컫 는 말 이 죠 . 그런데 심리 지수 란 건 뭘까요 ? 사람 들 이 특정 한 식 으로 행동 하 는 이유 에 대해 여러분 은 얼마나 알 고 계시 나요 ? 또 타인 이나 심지어 여러분 의 행동 을 예측 하 는 일 은 얼마나 잘 하 시 나요 ? 또 , 심리학 에 대해 갖춘 지식 중 에서 어느 정도 나 잘못 된 것 일까요 ? 심리학 에 관한 열 가지 신화 를 통해 잘못 된 것 들 을 알아보 도록 하 죠 . 여러분 은 한 번 쯤 들 어 보 셨 을 법 한 것 은 자신 들 의 심리학 에 대해 고려 할 때 , 거의 항상 남자 는 화성 에서 왔 고 , 여자 는 금성 에서 온 것 같 다고 합니다 . 하지만 실제로 남자 와 여자 는 얼마나 다른 걸까요 ? 이 를 알아보 기 위해 , 일단 남녀 사이 에 확실 하 게 차이 나 는 것 을 살펴보 고 심리학 적 인 성별 간 의 차이점 을 동일 한 척도 상 에서 대비 해 보 도록 하 겠 습니다 . 남자 와 여자 간 에 실제로 차이 나 는 능력 중 하나 는 그 들 이 공 을 얼마나 멀리 던질 수 있 느냐 하 는 것 입니다 . 여기 남자 들 의 데 이타 를 보 시 면 , 정상 분포 곡선 이 라는 걸 볼 수 있 습니다 . 남자 들 소수 는 정말 멀리 던지 고 , 남자 들 소수 는 멀리 던지 지 못하 지만 , 남자 들 대부분 은 평균 적 인 거리 를 던졌 습니다 . 여자 들 도 역시 비슷 한 분포 상태 를 보입니다 만 사실 남녀 사이 엔 커다란 차이 가 있 습니다 . 사실 , 평균 수준 의 남자 라면 모든 여성 중 대략 98 % 보다 더 멀리 던질 수 있 거든요 . 이 와 동일 하 게 표준 화 된 척도 상 에서 심리학 에서 말 하 는 성별 간 의 차이 를 살펴 봅시다 . 심리학자 라는 여러분 에게 말 하 길 남자 들 의 공간 지각 능력 이 여자 들 보다 뛰어나 다고 할 겁니다 . 예 를 들 어 , 지도 읽 는 능력 같 은 건데 , 맞 는 말 입니다 . 하지만 그 차이 의 정도 를 살펴봅시다 . 아주 작 죠 . 두 선 이 너무 근접 해서 거의 겹칠 정도 입니다 .
'''

doc2 = '''
최상 의 제시 유형 은 학습 자 에 좌우 되 는 것 이 아니 라 학습 해야 할 내용 에 따라 좌우 됩니다 . 예 를 들 어 여러분 이 운전 하 기 를 배울 때 실제로 몸 으로 체감 하 는 경험 없이 누군가 가 어떻게 할 지 이야기 하 는 것 을 듣 는 것 만 으로 배울 수 있 습니까 ? 연립 방정식 을 풀 어야 하 는데 종이 에 쓰 지 않 고 머리 속 에서 말 하 는 것 으로 풀 수 가 있 을까요 ? 또는 만일 여러분 이 체감 형식 의 학습 자 유형 이 라면 , 건축학 시험 을 해석 적 춤 을 이용 하 여 수정 할 수 있 을까요 ? 아니 죠 ! 배워야 할 내용 을 제시 된 유형 에 맞추 어야 합니다 , 당신 에게 맞추 는 게 아니 라요 . 여러분 들 상당수 가 " A " 급 의 우등 생 이 라는 걸 아 는데 , 조만간 중등 학력 인증 시험 ( GCSE ) 결과 를 받 게 되 시 겠 네요 . 그런데 , 만일 , 여러분 들 이 희망 했 던 성적 을 받 지 못하 게 된다 해도 여러분 들 의 학습 방식 을 탓 해서 는 안 되 는 겁니다 . 여러분 이 비난 할 수 있 는 한 가지 는 바로 유전자 입니다 . 이건 최근 에 런던 대학교 ( UCL ) 에서 수행 했 던 연구 결과 는 여러 학생 들 과 그 들 의 중등 학력 인증 시험 결과 사이 의 차이 중 58 % 는 유전 적 인 요인 으로 좁혀졌 습니다 . 매우 정밀 한 수치 처럼 들립니다 . 그러면 어떻게 알 수 있 을까요 ? 유전 적 요인 과 환경 적 요인 의 상대 적 기여 도 를 알 고 싶 을 때 우리 가 사용 할 수 있 는 방식 은 바로 쌍둥이 연구 입니다 . 일 란 성 쌍생아 의 경우 환경 적 요인 과 유전 적 요인 모두 를 100 % 똑같이 공유 하 게 되 지만 이란 성 쌍생아 의 경우 는 100 % 동일 한 환경 을 공유 하 지만 유전자 의 경우 여타 의 형제자매 들 처럼 50 % 만 공유 하 게 됩니다 . 따라서 일 란 성 쌍둥이 와 이란 성 쌍둥이 사이 의 인증 시험 결과 가 얼마나 비슷 한지 비교 해 보 고 여기 에 약간 의 수학 적 계산 을 더하 게 되 면 그 수행 능력 의 차이 중 어느 정도 가 환경 적 요인 의 탓 이 고 어느 정도 가 유전자 탓 인지 를 알 수 있 게 됩니다 .
'''

doc3 = '''
그러나 이 이야기 는 세 가지 이유 로 인해 신화 입니다 . 첫째 , 가장 중요 한 건 실험실 가운 은 흰색 이 아니 라 회색 이 었 다 라는 점 이 죠 . 둘째 , 참 여자 들 은 실험 하 기 전 에 와 참여 자 들 이 걱정 을 표현 할 때 마다 상기 시키 는 말 을 들 었 는데 , 전기 충격 이 고통 스럽 기 는 하 지만 , 치명 적 이 지 는 않 으며 실제로 영구 적 인 손상 을 남기 는 일 은 없 을 거 라는 것 이 었 습니다 . 셋째 , 참 여자 들 은 단지 가운 을 입 은 사람 이 시켜 전기 충격 을 주지 는 않 았 죠 . 실험 이 끝나 고 그 들 의 인터뷰 를 했 을 때 모든 참여 자 들 은 강한 신념 을 밝혔 는데 , ' 학습 과 처벌 ' 연구 가 과학 적 으로 가치 있 는 목적 을 수행 했 기 때문 에 비록 동료 참여 자 들 에게 가해진 순간 적 인 불편 함 에 반해서 과학 을 위해서 오래 남 을 성과 를 얻 을 것 이 라고 말 이 죠 . 그러 다 보 니 제 가 이야기 를 한 지 벌써 12 분 이 되 었 습니다 . 여러분 들 중 에 는 아마 거기 앉 아서 제 이야기 를 들으시는 동안 저 의 말투 와 몸짓 을 분석 하 면서 제 가 말 하 는 어떤 것 을 인지 해야 할까 해결 하 려고 하 셨 을 겁니다 , 제 가 진실 을 이야기 하 는 지 , 또는 거짓말 을 하 고 있 는 것 인지 말 이 죠 . 만일 그러 셨 다면 , 아마 지금 쯤 완전히 실패 하 셨 을 겁니다 . 왜냐하면 우리 모두 가 사람 이 말 하 는 패턴 과 몸짓 으로 도 거짓말 여부 를 알아내 는 것 이 가능 하 다고 생각 하 지만 , 오랜 세월 수백 회 에 걸쳐 행해진 실제 심리 검사 의 결과 를 보 면 우리 들 모두 는 , 심지어 경찰관 이나 탐정 들 을 포함 해서 도 기본 적 으로 몸짓 과 언어 적 패턴 으로 거짓말 을 탐지 하 는 것 은 운 에 맞 길 수 밖 에 는 없 는 것 입니다 . 흥미 롭 게 도 한 가지 예외 가 있 는데요 : 실종 된 친척 을 찾 아 달 라고 호소 하 는 TV 홍보 입니다 .
'''

In [2]:
import pandas as pd
# pd.set_option('max_rows', 20)

def get_term_frequency(document,word_dict=None):
    '''
    개별 문서에 대해서 TF (Term Frequency)를 구하는 함수
    '''
    if word_dict is None:
        word_dict ={}
    words = document.split()
    
    for w in words:
        word_dict[w] = 1+(0 if word_dict.get(w) is None else word_dict[w])
    
    return pd.Series(word_dict).sort_values(ascending=False)


def get_document_frequency(documents):
    '''
    문서들이 주어졌을 때 각 단어가 몇 개의 문서에서 나타나는지 세는 함수
    '''
    dicts =[]
    vocab = set([])
    df= {}
    
    for d in documents:
        tf = get_term_frequency(d)
        dicts +=[tf]
        vocab = vocab | set(tf.keys()) # list의 append와 같이 set 형태에 자료를 추가하는 형식
        
    for v in list(vocab):
        df[v]=0
        for dict_d in dicts:
            if dict_d.get(v) is not None:
                df[v]+=1 # document에 특정 단어 v가 존재한다.
    
    return pd.Series(df).sort_values(ascending=False)

def get_tfidf(docs):
    '''
    TF-IDF를 구하는 최종 함수
    '''
    vocab = {}
    tfs = []
    for d in docs:
        vocab = get_term_frequency(d,vocab)
        tfs += [get_term_frequency(d)]
    df = get_document_frequency(docs)
    
    from operator import itemgetter
    import numpy as np
    
    stats = []
    for word,freq in vocab.items():
        tfidfs=[]
        for idx in range(len(docs)): 
            if tfs[idx].get(word) is not None:
                tfidfs += [tfs[idx][word] * np.log(len(docs)/ df[word])] # TF / IDF 
            else:
                tfidfs+=[0]
        
        stats.append((word, freq, *tfidfs, max(tfidfs)))
        
    return pd.DataFrame(stats, columns=('word',
                                       'frequency',
                                       'doc1',
                                       'doc2',
                                       'doc3',
                                       'max')).sort_values('max',ascending=False)

In [3]:
get_document_frequency([doc1,doc2,doc3])

는      3
실제로    3
.      3
그      3
고      3
      ..
열      1
얻      1
롭      1
속      1
척도     1
Length: 437, dtype: int64

In [4]:
get_tfidf([doc1,doc2,doc3])

   word  frequency      doc1      doc2      doc3       max
23   남자          9  9.887511  0.000000  0.000000  9.887511
37   요인          6  0.000000  6.591674  0.000000  6.591674
51  심리학          5  5.493061  0.000000  0.000000  5.493061
57    었          4  0.000000  0.000000  4.394449  4.394449
63    제          4  0.000000  0.000000  4.394449  4.394449
..  ...        ...       ...       ...       ...       ...
36   라는          6  0.000000  0.000000  0.000000  0.000000
33    중          6  0.000000  0.000000  0.000000  0.000000
30  습니다          7  0.000000  0.000000  0.000000  0.000000
29    보          7  0.000000  0.000000  0.000000  0.000000
0     는         47  0.000000  0.000000  0.000000  0.000000

[437 rows x 6 columns]

# Term Frequency Matrix

In [5]:
def get_tf(docs):
    vocab= {}
    tfs = []
    for d in docs:
        vocab = get_term_frequency(d,vocab)
        tfs +=[get_term_frequency(d)]
        
    from operator import itemgetter
    import numpy as np
    
    stats =[]
    for word, freq in vocab.items():
        tf_v = []
        for idx in range(len(docs)):
            if tfs[idx].get(word) is not None:
                tf_v +=[tfs[idx][word]]
                
            else:
                tf_v +=[0]
        stats.append((word,freq, *tf_v))
        
    return pd.DataFrame(stats,columns=('word',
                                      'frequency',
                                      'doc1',
                                      'doc2',
                                      'doc3')).sort_values('frequency',ascending= False)

In [6]:
get_tf([doc1,doc2,doc3])

    word  frequency  doc1  doc2  doc3
0      는         47    15    14    18
1      을         39     8    10    21
2      .         36    16    10    10
3      하         33    10     9    14
4      이         32     8     8    16
..   ...        ...   ...   ...   ...
273   스럽          1     0     0     1
274   치명          1     0     0     1
275   으며          1     0     0     1
276   영구          1     0     0     1
436   최근          1     0     1     0

[437 rows x 5 columns]

# Based on Context Window (Co-occurence)

In [7]:
'''
해당 파일은 다음 주소에서 가져옴
https://github.com/juneoh/fastcampus-pytorch-nlp/blob/master/week3/ted.aligned.ko.refined.tok.txt
'''
with open('ted.aligned.ko.refined.tok.txt',encoding='utf-8') as f:
    lines = [l.strip() for l in f.read().splitlines() if l.strip()]

In [8]:
from collections import defaultdict

import pandas as pd

def get_context_counts(lines,w_size=2):
    '''
    문장들을 입력으로 받아 주어진 윈도우 크기 w_size 내에서 함께 출현한 단어들의 빈도를 세는 함수
    '''
    co_dict = defaultdict(int)
    
    for line in lines:
        words = line.split()
        
        for i,w in enumerate(words):
            for c in words[i - w_size:i + w_size]:
                if w!=c:
                    co_dict[(w,c)]+=1
    
    return pd.Series(co_dict)

In [9]:
co_dict = get_context_counts(lines)
co_dict

웹    현재        1
     TED       2
     사이트     350
사이트  TED       3
     웹       365
            ...
산책   바퀴벌레      1
말벌   시키        1
대해   말벌        1
기생충  안         1
생각   기생충       1
Length: 2706519, dtype: int64

In [10]:
tfs = get_term_frequency(' '.join(lines))
tfs

.      337685
는      234692
이      224422
을      193583
은      137351
        ...
711         1
967         1
선거제         1
아쉬웠         1
끼친다         1
Length: 62960, dtype: int64

In [11]:
tfs = tfs[tfs<100000]
tfs

고      98136
것      78869
한      63132
죠      56568
그      53895
       ...
711        1
967        1
선거제        1
아쉬웠        1
끼친다        1
Length: 62946, dtype: int64

In [12]:
def co_occurence(co_dict,vocab):
    data = []
    
    for word1 in vocab:
        row = []
        
        for word2 in vocab:
            try:
                count = co_dict[(word1,word2)]
            except KeyError:
                count=0
            row.append(count)
        
        data.append(row)
        
    return pd.DataFrame(data,index= vocab, columns = vocab)                

co = co_occurence(co_dict, tfs.index[:1000])
print(co)

        고     것     한    죠     그    입니다    우리     수    에서     었  ...  시기  신호  \
고       0  1034   165    7  1788      8   839  1288   924  3204  ...   6   8
것     364     0  5473   13   282  15019    36     4   563  1109  ...   5   3
한    1670  5202     0  104   529     57   267    54  1252    41  ...  75  27
죠    1307  2636   363    0   153      2   107  1391    96  5316  ...  20  12
그    2939   568   219  827     0    578  1045    46   628   517  ...  34  19
..    ...   ...   ...  ...   ...    ...   ...   ...   ...   ...  ...  ..  ..
딸      11     4     3    3     9     11    24     6     3     0  ...   0   0
신체     10     5    20    1     8      5    49     0    24     0  ...   0   1
미국인     8     1    22    3     2     13     8     1     8     3  ...   0   0
만일     10    12     0   10    26     16    53     0     2     3  ...   0   0
생명체     6     4    38    5     7      8     8     0    40     0  ...   0   0

      운영   다루  갑자기   딸  신체  미국인  만일  생명체
고    127  103   17  10   5   11   1    5
것      6   37   11   2   1    0   2    3
한      5    2   20   4  20   16   8   32
죠      7   12    1   0   0    2   3    3
그      1    0   28   6   5    5  28    7
..   ...  ...  ...  ..  ..  ...  ..  ...
딸      0    0    0   0   0    0   0    0
신체     0    0    0   0   0    0   0    0
미국인    0    0    0   0   0    0   2    0
만일     0    0    0   0   0    1   0    0
생명체    0    0    0   0   0    0   0    0

[1000 rows x 1000 columns]

In [13]:
import torch

torch.save(co, 'co.pth')

In [14]:
co = torch.load('co.pth')
co

,고,것,한,죠,그,입니다,우리,수,에서,었,...,시기,신호,운영,다루,갑자기,딸,신체,미국인,만일,생명체
고,0,1034,165,7,1788,8,839,1288,924,3204,...,6,8,127,103,17,10,5,11,1,5
것,364,0,5473,13,282,15019,36,4,563,1109,...,5,3,6,37,11,2,1,0,2,3
한,1670,5202,0,104,529,57,267,54,1252,41,...,75,27,5,2,20,4,20,16,8,32
죠,1307,2636,363,0,153,2,107,1391,96,5316,...,20,12,7,12,1,0,0,2,3,3
그,2939,568,219,827,0,578,1045,46,628,517,...,34,19,1,0,28,6,5,5,28,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
딸,11,4,3,3,9,11,24,6,3,0,...,0,0,0,0,0,0,0,0,0,0
신체,10,5,20,1,8,5,49,0,24,0,...,0,1,0,0,0,0,0,0,0,0
미국인,8,1,22,3,2,13,8,1,8,3,...,0,0,0,0,0,0,0,0,2,0
만일,10,12,0,10,26,16,53,0,2,3,...,0,0,0,0,0,0,0,1,0,0
생명체,6,4,38,5,7,8,8,0,40,0,...,0,0,0,0,0,0,0,0,0,0

In [52]:
'생명체' in co.index

True

t-SNE (t-distributed stochastic neighbor embedding) 을 이용해서 고차원의 vector를 시각화 가능

# Similarity Measures

In [15]:
import torch

$$
\text{d}_{\text{L1}}(w,v)=\sum_{i=1}^d{|w_i-v_i|},\text{ where }w,v\in\mathbb{R}^d.
$$

In [16]:
# L1 distance
def get_l1_distance(x1,x2):
    return ((x1-x2)).abs().sum()

$$
\text{d}_{\text{L2}}(w,v)=\sqrt{\sum_{i=1}^d{(w_i-v_i)^2}},\text{ where }w,v\in\mathbb{R}^d.
$$

In [20]:
# L2 distance
def get_l2_distance(x1,x2):
    return ((x1-x2)**2).sum()**.5

$$
d_{\infty}(w,v)=\max(|w_1-v_1|,|w_2-v_2|,\cdots,|w_d-v_d|),\text{ where }w,v\in\mathbb{R}^d
$$

In [21]:
# infinity Norm
def get_infinity_distance(x1,x2):
    return ((x1-x2).abs()).max()

$$
\begin{aligned}
\text{sim}_{\text{cos}}(w,v)&amp;=\overbrace{\frac{w\cdot v}{|w||v|}}^{\text{dot product}}
=\overbrace{\frac{w}{|w|}}^{\text{unit vector}}\cdot\frac{v}{|v|} \\
&amp;=\frac{\sum_{i=1}^{d}{w_iv_i}}{\sqrt{\sum_{i=1}^d{w_i^2}}\sqrt{\sum_{i=1}^d{v_i^2}}} \\
\text{where }&amp;w,v\in\mathbb{R}^d
\end{aligned}
$$

In [47]:
def get_cosine_similarity(x1,x2):
    return (x1*x2).sum() / ((x1**2).sum()**.5 *(x2**2).sum()**.5)

$$
\begin{aligned}
\text{sim}_{\text{jaccard}}(w,v)&amp;=\frac{|w \cap v|}{|w \cup v|} \\
&amp;=\frac{|w \cap v|}{|w|+|v|-|w \cap v|} \\
&amp;\approx\frac{\sum_{i=1}^d{\min(w_i,v_i)}}{\sum_{i=1}^d{\max(w_i,v_i)}} \\
\text{where }&amp;w,v\in\mathbb{R}^d.
\end{aligned}
$$

In [24]:
# 자카드 유사도
def get_jaccard_similarity(x1,x2):
    return torch.stack([x1,x2]).min(dim=0)[0].sum() / torch.stack([x1,x2]).max(dim=0)[0].sum()

값이 아니라 수치 자체에 대해 자카드 유사도를 구하고자 할 때는, 각 차원의 숫자에 위와 같이 min,max 연산을 통해서 계산 가능함

In [28]:
def get_nearest(query, dataframe,metric,top_k,ascending=True):
    vector = torch.FloatTensor(dataframe.loc[query].values)
    distances = dataframe.apply(lambda x: metric(vector, torch.FloatTensor(x.values)),axis=1)
    top_distances = distances.sort_values(ascending=ascending)[:top_k]
    
    print(', '.join([f'{k} ({v:.1f})' for k,v in top_distances.items()]))

In [29]:
print('L1 distance: ')
get_nearest('우리',co,get_l1_distance,30)
print('\nL2 distance: ')
get_nearest('우리',co,get_l2_distance,30)
print('\nInfinity distance: ')
get_nearest('우리',co,get_infinity_distance,30)
print('\nCosine similarity: ')
get_nearest('우리',co,get_cosine_similarity,30,ascending=False)
print('\nJaccard similarity: ')
get_nearest('우리',co,get_jaccard_similarity,30,ascending=False)

L1 distance:
우리 (0.0), 저 (24246.0), 제 (26486.0), 여러분 (30102.0), 그 (33590.0), 그것 (34206.0), 이런 (34273.0), 이것 (34569.0), 그리고 (34732.0), 어떤 (35048.0), 나 (35285.0), ' (35615.0), -- (35832.0), 요 (35935.0), 그런 (36570.0), 당신 (36757.0), 바로 (36803.0), 여기 (36804.0), 하지만 (36811.0), 그래서 (36900.0), 어떻게 (36977.0), 다 (37061.0), 저희 (37277.0), 모든 (37366.0), 살 (37483.0), 미국 (37631.0), 새로운 (37684.0), 다른 (37693.0), 사실 (37719.0), 까지 (37754.0)

L2 distance:
우리 (0.0), 저 (2180.6), 제 (2695.3), 여러분 (2839.4), 그 (3223.8), 나 (3225.2), 그것 (3231.0), 이런 (3295.4), 이것 (3322.2), 어떤 (3350.7), 살 (3404.7), 당신 (3460.9), 그리고 (3480.9), 자신 (3533.2), ' (3540.5), 아이 (3544.4), -- (3547.8), 다 (3548.8), 일어나 (3550.0), 저희 (3550.7), 그런 (3567.0), 그녀 (3570.0), 매우 (3571.6), 안 (3571.7), 어떻게 (3580.0), 이야기 (3598.4), 갖 (3599.2), 요 (3599.8), 여기 (3600.2), 아주 (3600.8)

Infinity distance:
우리 (0.0), 저 (852.0), 여러분 (1031.0), 자신 (1309.0), 모두 (1316.0), 나 (1376.0), 물 (1396.0), 당신 (1396.0), 영향 (1424.0), 스스로 (1434.0), 그녀 (1447.0), 필요 (1456.0), 어떤 (1459.0), 이런 (1465.0), 서로 (1481.0), 아이 (1483.0), 그 (1485.0), 이렇게 (1487.0), 만 (1487.0), 가장 (1499.0), 누구 (1501.0), 저희 (1501.0), 이야기 (1506.0), 로 (1506.0), 도움 (1511.0), 큰 (1512.0), 매우 (1517.0), 일 (1518.0), 질문 (1519.0), 보여 (1521.0)

Cosine similarity:
우리 (1.0), 저희 (0.9), 저 (0.8), 그녀 (0.8), 그 (0.8), 여러분 (0.7), 제 (0.7), 당신 (0.7), 누군가 (0.7), 그것 (0.7), 우린 (0.7), 새 (0.7), 일종 (0.7), 이것 (0.7), 환자 (0.7), 하루 (0.7), 그냥 (0.6), 마치 (0.6), 전화 (0.6), 각각 (0.6), 인터넷 (0.6), 컴퓨터 (0.6), 수많 (0.6), 뭔가 (0.6), 빛 (0.6), 누가 (0.6), 로봇 (0.6), 약간 (0.6), 물론 (0.6), 나무 (0.6)

Jaccard similarity:
우리 (1.0), 그 (0.5), 저 (0.5), 제 (0.4), 여러분 (0.3), 말 (0.3), " (0.3), 그리고 (0.3), 사람 (0.3), 일 (0.3), 도 (0.2), 다른 (0.2), 나 (0.2), 이런 (0.2), 한 (0.2), 만 (0.2), 모든 (0.2), 어떤 (0.2), 더 (0.2), 와 (0.2), 에서 (0.2), 과 (0.2), 로 (0.2), 보 (0.2), 요 (0.2), 된 (0.2), ' (0.2), 그것 (0.2), 적 (0.2), 되 (0.2)

# Thesaurus Based Method: Lesk Algorithm

In [30]:
from nltk.corpus import wordnet as wn
for ss in wn.synsets('bass'):
    print(ss, ss.definition())

Synset('bass.n.01') the lowest part of the musical range
Synset('bass.n.02') the lowest part in polyphonic music
Synset('bass.n.03') an adult male singer with the lowest voice
Synset('sea_bass.n.01') the lean flesh of a saltwater fish of the family Serranidae
Synset('freshwater_bass.n.01') any of various North American freshwater fish with lean flesh (especially of the genus Micropterus)
Synset('bass.n.06') the lowest adult male singing voice
Synset('bass.n.07') the member with the lowest range of a family of musical instruments
Synset('bass.n.08') nontechnical name for any of numerous edible marine and freshwater spiny-finned fishes
Synset('bass.s.01') having or denoting a low vocal or instrumental range

In [31]:
def lesk(sentence, word):
    from nltk.wsd import lesk
    
    best_synset= lesk(sentence.split(),word)
    print(best_synset, best_synset.definition())

In [32]:
sentence = 'I went fishing last weekend and I got a bass and cooked it'
word = 'bass'
lesk(sentence,word)

Synset('sea_bass.n.01') the lean flesh of a saltwater fish of the family Serranidae

In [36]:
sentence = 'I love the music from the speaker which has strong beat and bass'
word = 'bass'
lesk(sentence,word)

Synset('bass.n.02') the lowest part in polyphonic music

In [39]:
# 잘 안된 케이스
sentence = 'I think the bass is more important than guitar'
word='bass'
lesk(sentence,word)

Synset('sea_bass.n.01') the lean flesh of a saltwater fish of the family Serranidae

# Similarity Based Method [Erk et al.2007]

In [ ]:
!export MACOSX_DEPLOYMENT_TARGET=10.10

In [ ]:
import jpype
jpype.getDefaultJVMPath()

In [65]:
from konlpy.tag import Kkma # Mecab 설치시 고려해야할 것이 많기에 대체

with open('ted.aligned.ko.refined.tok.random-10k.txt',encoding='utf-8') as f:
    lines = [l.strip() for l in f.read().splitlines() if l.strip()]
    
def count_seen_headwords(lines, predicate = 'VV',headword='NNG'):
    '''
    params
    * lines : 코퍼스
    * predicate : 술어 , 'VV'-> 동사
    * headword : 표제어, 'NNG' -> 명사
    '''
    tagger= Kkma()
    seen_dict = {}
    
    for line in lines:
        pos_result = tagger.pos(line)
        
        word_h = None
        word_p = None
        for word,pos in pos_result:
            if pos == predicate or pos[:3] ==predicate + '+':
                word_p = word
                break
            if pos == headword:
                word_h = word
                
        if word_h is not None and word_p is not None:
            seen_dict[word_p] = [word_h] + ([] if seen_dict.get(word_p) is None else seen_dict[word_p])
        
    return seen_dict

seen_headwords = count_seen_headwords(lines)

In [68]:
seen_headwords.keys()

dict_keys(['하', '오', '늘', '겪', '들', '만드', '저', '관하', '가', '벌어', '푸', '일으키', '일어나', '되', '슬', '쫓', '피하', '키', '찾', '치', '맺', '생기', '졀', '스', '걷', '시', '믿', '만들', '가르치', '보', '알', '쓰', '꾸', '고맙', '물러나', '따', '뀌', '노', '나가', '통하', '아니', '쓸', '그러', '나', '앞장서', '좋', '느끼', '어', '느', '살피', '홀리', '웨', '에', '떠다니', '대하', '받', '가지', '드리', '앉', '갈', '드', '밝히', '마', '닫히', '흘러내리', '밀리', '보이', '보내', '지치', '잃', '여기', '달', '빼앗기', '매', '바꾸', '움직이', '걸리', '어쩌', '걸', '주', '걸치', '얻', '그리', '지나', '베', '트', '딛', '의하', '파', '뜨', '인하', '돌아가', '없애', '벗', '자', '열리', '버리', '그리하', '이르', '가져오', '밝혀지', '말', '주어지', '넣', '티', '나타나', '뻗', '위하', '읽', '없', '쉬', '시키', '뚫리', '시켰', '놀', '밝', '뛰', '서', '그', '따라오', '맛보', '이러', '째', '사', '아', '바라보', '내려가', '해지', '호', '비', '닿', '살', '들어가', '뿜', '찌우', '늘어나', '번지', '뺏', '닫', '돼', '이루어지', '따르', '얼', '벌', '새롭', '내', '불', '들리', '자라', '드러', '돌이키', '아이', '덮이', '크', '살펴보', '즐기', '짓', '되돌', '드시', '뿌리내리', '부르', '덜', '두', '되돌리', '둘러싸이', '어떠', '줄이', '메', '눕', '아끼', '놓이', '내려오', '웃', '떠오', '자르', '나오', '떨어지', '마치', '가리', '모이', '미치', '타', '남기', '커', '짜이', '빌', '듣', '땋', '잡', '쫒기', '내보이', '개', '끄', '끼치', '닥치', '기다리', '올려다보', '돋', '떠나', '원하', '투덜대', '두려워하', '끝', '통틀', '털', '무너지', '떨', '빻', '빨', '나아지', '데려가', '넘어가', '비싸', '잃어버리', '빠지', '올라가', '합치', '캐', '이어지', '앞서', '개이', '이끌', '모르', '줄', '믿기', '데치', '절', '띄우', '나뉘', '취하', '비하', '우리', '짜', '쌓이', '부추기', '붙이', '디', '불르', '새', '넘기', '쏟아지', '끌', '기울', '구하', '끓', '키우', '거치', '살아가', '울', '물리', '알아차리', '높이', '꼽', '깔리', '찍히', '까', '흘르', '들여다보', '솟구치', '해보', '가져가', '해내', '정하', '묻', '밭이', '끝나', '매달리', '니', '스치', '헤', '아스', '속하', '질', '날아오', '날리', '잡히', '틀리', '나타내', '벌어지', '무너뜨리', '파내', '나서', '비키', '둘러싸', '떠올리', '넓', '가리키', '다그', '띄', '올리', '맡기', '지나치', '깨어나', '붙', '배우', '익히', '이루', '지저귀', '보내오', '붇', '내리', '태어나', '히', '쓰이', '더하', '낳', '지르', '전하', '찾아가', '매이', '샬', '거들', '돌아오', '지니', '만나', '벗기', '알리', '기', '블', '받아들이', '몰', '알아채', '대리', '빼앗', '즐거우', '일', '더불', '바라', '허', '추', '사라지', '잊', '저미', '웃기', '돌', '와', '지키', '나누', '어기', '누', '모으', '늦추', '쏟', '여쭈', '들이', '생겨나', '가르', '차', '돕', '옮', '앞지르', '달려가', '처하', '나쁘', '어리', '저러', '밀', '앉히', '동이', '느껴지', '펴', '옮기', '쏠', '들이마시', '접', '빼놓', '바뀌', '묶이', '카', '팔', '쏘', '멀', '그늘지', '다르', '걸어오', '던지', '맞추', '남', '갓나', '뛰어나', '되돌아가', '벗겨지', '퍼지', '익', '몰르', '거들뜨', '이라', '델', '거두', '세', '긁', '세우', '벗어나', '헹구', '흔들', '드러나', '신나', '누리', '펼치', '뱉', '태우', '싸', '돌리', '지', '허물', '데리', '대', '바쁘', '헤어지', '달리', '깁', '불리', '뿔', '틀', '씌우', '비치', '휩쓸', '계시', '이렇', '늘리', '잊어버리', '두렵', '쳐지', '버티', '상하', '걸어가', '감', '몰아내', '쉐', '사로잡히', '섞', '뚫', '떠밀', '안기', '싫', '끌어내', '맑', '가늘', '가시', '모시', '시리', '다가오', '어둡', '들어오', '뽑', '멈추', '참', '다가가', '따라가', '괴롭히', '향하', '맡', '놓치', '이기', '밀치', '밟히', '부러지', '붙잡', '터지', '날', '달라지', '채우'])

$$
A_R(w,h_0)=\sum_{h\in\text{Seen}_R(w)}{\text{sim}(h_0,h)\cdot \phi_R(w,h)}
$$

In [41]:
def get_selectional_association(predicate, headword, lines, dataframe,metric):
    '''
    desc
    주어진 술어와 표제어에 대해서 선택 관련도 점수를 구하는 함수
    params
    * predicate: 술어
    * headword: 표제어
    * lines: 코퍼스
    * dataframe: 특징 벡터들을 담은 데이터프레임
    * metric : 유사도를 구하는 함수
    '''
    v1 = torch.FloatTensor(dataframe.loc[headword].values)
    seens = seen_headwords[predicate]
    
    total = 0
    for seen in seens:
        try:
            v2 = torch.FloatTensor(dataframe.loc[seen].values)
            total += metric(v1,v2)
        except:
            pass
    return total

In [69]:
co = torch.load('co.pth')
def wsd(predicate, headwords):
    selectional_associations = []
    for h in headwords:
        selectional_associations +=[get_selectional_association(predicate, h , lines, co, get_cosine_similarity)] # 위에서 선언함
    print(selectional_associations)

In [71]:
wsd('가',['학교','사람','질문'])

[tensor(237.5528), tensor(219.2429), tensor(216.2626)]